@charset 'UTF-8';
.statistics {
  min-width:230px;
  max-height:250px;
  overflow-x:hidden;
  visibility:visible;
}

.statistics_empty {
  min-width:370px;
  max-height:100px;
  overflow-x:hidden;
  visibility:visible;
}

.hidden {
  visibility:hidden;
}

