@charset 'UTF-8';
.statistics {
  min-width:230px;
  max-height:250px;
  overflow-x:hidden;
  visibility:visible;
}

.statistics_empty {
  min-width:350px;
  max-height:100px;
  overflow-x:hidden;
  visibility:visible;
}

.flag {
  vertical-align:middle;
  width:50px;
  height:50px;
}

.hidden {
  visibility:hidden;
}

